#head {
    width: 90%;
    margin: auto;
    // background-color: red;
    text-align: center;
    h1 {
        position: relative;
    }
    h1::after {
        position: absolute;
        width: 100px;
        height: 4px;
        left: 46%;
        top: 120%;
        bottom: 0%;
        content: "";
        background-color: $secondary-color;
    }
    button {
        margin-top: 4rem;
        color: white;
        padding: 4px 18px;
        border-radius: 5px;
        color: $primary-color;
        border-top: 2px solid $secondary-color;
        border-left: 2px solid $secondary-color;
        border-right: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        font-size: 1.05rem;
    }
    button:hover {
        transition: all 0.4s ease;
        background-color: $secondary-color;
    }
}

#All {
    width: 90%;
    margin: auto;
}

#item_box {
    h2 {
        font-size: 1.1rem;
        letter-spacing: 0.3px;
        font-weight: 500;
        // background-color: red;
    }
    pre {
        font-size: 1.1rem;
        color: $secondary-color;
        // background-color: red;
    }
    p {
        padding-top: 1rem;
        color: rgb(128, 128, 128);
        font-weight: 300;
        border-top: 1px dotted black;
    }
    img {
        border-radius: 8px;
        border: 5px solid $secondary-color;
        // background-color: red;
    }
}